.login-component {
    .verif-header {
        font-size: 2rem !important;
        margin-bottom: 1.5rem;
    }
    .content {
        background-color: #FDFDFF;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
        border-radius: .55rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        .controls {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .table-container {
            padding-left: 2rem;
            padding-right: 2rem;

        }
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
}

.custom-button {
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: #749769;
    color: #F9FFF8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


