.admin-profiles-component {
    .verif-header {
        font-size: 2rem !important;
        margin-bottom: 1.5rem;
        .tab-label {
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1.5rem;
            color: #000000;
            text-decoration: none;
            text-transform: none !important;
            &.active {
                text-decoration: underline !important;
            }
        }
        .MuiTabs-indicator {
            display: none;
        }
    }
    .content {
        background-color: #FDFDFF;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
        border-radius: .85rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .table-container {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 2rem;
            .table-cont {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
                border-radius: .85rem;
                .table {
                    background-color: #FDFDFF;
                    .table-header {
                        background-color: #749769;
                        .header-row {
                            th {
                                color: #F9FFF8 !important;
                            }
                        }
                    }
                    .table-row {
                        background-color: #F1FAEF;
                    }
                }
            }
        }
    }
}