.add-content {
  background-color: #FDFDFF;
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  min-width: 25vw;
  width: 25vw;
  min-height: 43vh;
  height: 43vh;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.85rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .popup-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      .close-icon {
          color: #749769;
          font-size: 2.25rem;
          &:hover {
              cursor: pointer;
          }
      }
  }

  .form-content {
    height: 60%;
    margin: 0rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    .txt-field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        .error-msg {
            font-size: 0.75rem;
            color: red;
            margin-left: 3px;
        }
        .custom-textfield {
            &.MuiTextField-root {
              &.custom-style {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 0.5rem;
                margin-left: 0.2rem;
                margin-right: 0.5rem;
                border-radius: 5px;
                font-size: 1rem;
                box-shadow: 0.25rem 0.25rem 0.4rem rgba(0, 0, 0, 0.2);
                border-width: 1px;
                border: 1px solid #ffffff;
                background-color: #ffffff;
              }
              &:focus-within {
                border-color: rgb(38, 86, 201);
              }
            }
            .MuiOutlinedInput-notchedOutline {
                border: none;
            }
        }
        .input-field {
            width: 95%;
            box-sizing: border-box;
            padding: 7px;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            margin-left: 0.2rem;
            border: 1px solid #ffffff;
            border-radius: 5px;
            font-size: 1rem;
            box-shadow: 0.25rem 0.25rem 0.4rem rgba(0, 0, 0, 0.2);
        }
    }
    .checkbox-field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }

    .btn {
        margin: 0rem 3rem 0rem 3rem;
        padding: 0.75rem 1.75rem;
        background-color: #749769;
        color: #F9FFF8;
        border: none;
        border-radius: 0.55rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        font-size: 1rem;
        &:hover {
            background: #32402e;
            cursor: pointer;
        }
    }
}
