.header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo {
            padding: 1rem;
            height: 6.5rem;
            width: 6.5rem;
            padding-right: 2rem !important; 
        }
    }
    .dropdown {
        position: fixed;
        align-items: center;
        top: 10px;
        right: 50px;

        .account-icon {
            font-size: 2.7rem;
            padding: 2rem;
            &:hover {
                cursor: pointer;
            }
        }

        .dropdown-info {
            position: fixed;
            font-family: "Ubuntu";
            top: 100px;
            background-color: #dbd9d9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
            width: 150px;
            height: 150;
            right: 30px;
            text-align: center;

            .logout-button {
                background-color: transparent;
                font-family: "Ubuntu";
                padding: 10px;
                border: none;
                font-size: 16px;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    
}
